body{
	background-color:#FFF;
	color:#000;
	/* font-family:"Lucida Console", Monaco, monospace; */
	font-size:30px;
	line-height:1.5em;
	/* margin:0; */
	/* cursor:url(EAP.png), pointer; */

}
@font-face {
font-family: "Mario";
src: url(font/LLPIXEL3.ttf);
font-style: normal;
}

.pageC{
	text-transform: lowercase;
	letter-spacing: 10px;

	position: absolute;
	top: 10%;
	left: 10%;

	font-style: italic;
	text-decoration: none;
}
.pageF{
	text-transform: lowercase;
	letter-spacing: 10px;

	position: absolute;
	top: 20%;
	left: 10%;

	font-style: italic;
	text-decoration: none;
}
.pageG{
	text-transform: lowercase;
	letter-spacing: 10px;

	position: absolute;
	top: 30%;
	left: 10%;

	font-style: italic;
	text-decoration: none;
}
.pageH{
	text-transform: lowercase;
	letter-spacing: 10px;

	position: absolute;
	top: 40%;
	left: 10%;

	font-style: italic;
	text-decoration: none;
}
.pageI{
	text-transform: lowercase;
	letter-spacing: 10px;

	position: absolute;
	top: 50%;
	left: 10%;

	font-style: italic;
	text-decoration: none;
}
.pageJ{
	text-transform: lowercase;
	letter-spacing: 10px;

	position: absolute;
	top: 60%;
	left: 10%;

	font-style: italic;
	text-decoration: none;
}
.pageK{
	text-transform: lowercase;
	letter-spacing: 10px;

	position: absolute;
	top: 70%;
	left: 10%;

	font-style: italic;
	text-decoration: none;
}
.pageL{
	text-transform: lowercase;
	letter-spacing: 10px;

	position: absolute;
	top: 80%;
	left: 10%;

	font-style: italic;
	text-decoration: none;
}
.pageM{
	text-transform: lowercase;
	letter-spacing: 10px;

	position: absolute;
	top: 90%;
	left: 10%;

	font-style: italic;
	text-decoration: none;
}


.pageO{
	text-transform: lowercase;
	letter-spacing: 10px;

	position: absolute;
	top: 110%;
	left: 10%;

	font-style: italic;
	text-decoration: none;
}
