body{
	background-color:#FFF;
	color:#000;
	/* font-family:"Lucida Console", Monaco, monospace; */
	font-size:30px;
	line-height:1.5em;
	/* margin:0; */
	/* cursor:url(EAP.png), pointer; */

}
@font-face {
font-family: "Mario";
src: url(font/LLPIXEL3.ttf);
font-style: normal;
}

.pageB{
		text-transform: lowercase;
		letter-spacing: 10px;

		position: absolute;
	    top: 50%;
	    left: 50%;

		font-style: italic;
		text-decoration: none;

		}
