body{
	/* background-color:#f5430c; */
	color:#F55D3E;

}

@font-face {
font-family: "Mario";
src: url(font/8-bit-hud.ttf);
font-style: normal;
}

.pageB{
		text-transform: lowercase;
		letter-spacing: 10px;

		position: absolute;
	    top: 50px;
	    left: 50px;

		font-style: italic;
		text-decoration: none;

		}
